
rem(a)
  a / (750/640*50)rem

.loading-box
  font-size rem(32)
  width 100%
  height rem(140)
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  align-items center
  justify-content center
  border-top 1px solid #000000
  text-align center
  color #ffffff

.icon-loading
  width rem(38)
  height rem(38)

