
rem(a)
  a / (750/640*50)rem

.week-div
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  color #a5a5a5
  font-size rem(28)
  width 100%
  height rem(70)
  background #f2f2f2
  line-height rem(70)
.week-text
  text-align left
  margin-left rem(40)
  -webkit-box-flex 1.0
  -moz-flex-grow 1
  -webkit-flex-grow 1
  flex-grow 1
.week-value
  text-align right
  margin-right rem(40)
  -webkit-box-flex 1.0
  -moz-flex-grow 1
  -webkit-flex-grow 1
  flex-grow 1


.history
  font-size rem(32)
  overflow hidden
  padding 0 0 0 rem(40)
.history-item
  width 100%
  height rem(140)
  line-height rem(140)
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  position relative
.history-item:after
  content ''
  height 1px
  width 200%
  position absolute
  left -50%
  bottom 0
  background-color #d9d9d9
  transform scale(0.5)
.history-time
  -webkit-box-flex 1.0
  -moz-flex-grow 1
  -webkit-flex-grow 1
  flex-grow 1
  text-align left
  color #676767
.history-value
  -webkit-box-flex 1.0
  -moz-flex-grow 1
  -webkit-flex-grow 1
  flex-grow 1
  text-align right
  color #a5a5a5
.m-weight-pbf
  margin-left rem(20)
.icon-arrow-lr
  display inline-block
  border-top 1px solid #9d9d9d
  border-left 1px solid #9d9d9d
  width rem(16)
  height rem(16)
  -webkit-transform rotate(135deg)
  margin-left rem(20)
  margin-right rem(40)
.border-none
  border-bottom none

.border-none:after
  content ''
  height 0px
  width 200%
  position absolute
  left -50%
  bottom 0
  background-color #ffffff
  transform scale(0.5)

.loading-box
  font-size rem(32)
  width 100%
  height rem(140)
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  align-items center
  justify-content center
  border-top 1px solid #d9d9d9
  text-align center

.icon-loading
  width rem(38)
  height rem(38)

