rem(a)
  a / (750/640*50)rem

rem2(a)
  a / 50rem

weight-fc-676767 = #676767
weight-fc-a5a5a5 = #a5a5a5

.weight-page
  background:#ffffff;
  .desc
    padding 0 0
  .weight-data
    padding-bottom rem(30)
    overflow hidden
    position relative
  .weight-data:after
    content ''
    height 1px
    width 180%
    position absolute
    left -40%
    bottom 0
    background-color #d9d9d9
    transform scale(0.5)


  .title-div
    padding rem(30) rem(40) 0 rem(40)
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-sizing border-box
    position relative
    align-items center

  .icon
    width rem(26)
    height rem(26)
    overflow visible
    position absolute
    left rem(15)
    top rem(40)
  .title
    color weight-fc-a5a5a5
    font-size rem(28)
    padding rem(7) 0 rem(7) rem(10)

  .data-div
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-sizing border-box
    padding rem(20) rem(40) 0

  .no-data-div
    color weight-fc-a5a5a5
    font-size rem(24)
    text-align center

  .no-data-img
    margin rem(22) 0
    width rem(40)
    height rem(40)


  .data
    font-size rem(80)
    color weight-fc-676767

  .unit-div
    margin-left rem(10)
    line-height rem(44)

  .unit
    font-size rem(28)
    color weight-fc-676767

  .updated
    font-size rem(24)
    color weight-fc-a5a5a5

  .compare
    font-size rem(32)
    color #fbc914
    padding-top rem(30)
    flex-grow 99
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-sizing border-box
    align-items center
    justify-content flex-end
    -webkit-justify-content flex-end

  .compare-icon
    display inline
    width rem2(20)
    height rem2(20)
    margin-right rem2(10)

  .physique
    padding rem(20) rem(40) rem(30) rem(40)
    color weight-fc-676767
    font-size rem(32)
    overflow hidden
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-sizing border-box

  .physique-text
    text-align center
    line-height rem(85)
    width rem(150)

  .physique-index
    flex-grow 99
    font-size rem(24)
    margin-left rem(15)

  .physique-index-line
    width rem(480)
    height rem(10)
    background #e8e8e8
    border-radius rem(10)
    margin-top rem(8)
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-sizing border-box
    position relative

  .physique-index-line1
    height rem(10)
    width rem(120)
    background #00c5ff
    border-radius rem(10) 0 0 rem(10)

  .physique-index-line2
    height rem(10)
    width rem(120)
    background #6de016

  .physique-index-line3
    height rem(10)
    width rem(120)
    background #fbc914

  .physique-index-line4
    height rem(10)
    width rem(120)
    background #ff871b
    border-radius 0 rem(10) rem(10) 0

  .progress-bar
    height rem(25)
    width rem(8)
    position absolute
    background #00c5ff
    border 0.04rem solid #ffffff
    border-radius rem(7)
    margin-top rem(-10)
    margin-left rem(-4)
    left rem(0)

  .more-div
    padding rem(30) 0 rem(30) 0
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-sizing border-box
    text-align center
    line-height rem(35)

  .more-item
    border-right 1px solid #d9d9d9
    flex-grow 1
    width:33.3%

  .more-item-end
    flex-grow 1
    width:33.3%

  .more-text
    color weight-fc-a5a5a5
    font-size rem(24)

  .more-value
    color weight-fc-676767
    font-size rem(28)

  .border-none
    border-bottom none

  .border-none:after
    content ''
    height 0px
    width 200%
    position absolute
    left -50%
    bottom 0
    background-color #ffffff
    transform scale(0.5)
