rem(a)
  a / (750/640*50)rem
.m-weight-table-wrap
  border-top 1px solid #d9d9d9
  width 100%
  .no-data-div
    text-align center
    padding-top rem(20)
    padding-bottom rem(20)
  .title
    color #a5a5a5
    font-size rem(20)
    height rem(20)
    padding 0
    margin 0
    line-height rem(20)
    margin-bottom rem(10)
  .describe
    color #000
    font-size rem(32)
  .middle-box
    position absolute
    top 50%
    width 100%
    transform translateY(-50%)
    -webkit-transform translateY(-50%)
  .m-weight-data-table
      width 100%
      .m-shape-box
        text-align center
        border-right 1px solid #d9d9d9
        position relative
        height rem(150)
        width 49.5%
        border-bottom 1px solid #d9d9d9
      .m-shape-box:last-child
        border-right 0
      .child-box
        border-right 1px solid #d9d9d9
        width 33%
        border-bottom 1px solid #d9d9d9
        height rem(180)
        position relative
        text-align center
        .weight-label
          font-size rem(22)
          line-height rem(30)
          margin 0 auto
          margin-top rem(10)
          width rem(66)
          height rem(30)
          text-align center
          border-width rem(2)
          border-style solid
          border-radius rem(4)
        .red-label
          border-color #ff7517
          color #ff7517
        .orange-label
          border-color #ffa715
          color #ffa715
        .green-label
          border-color #6de016
          color #6de016
        .baby-blue-label
          border-color #00c5ff
          color #00c5ff
        .blue-label
          border-color #20a0ff
          color #20a0ff
      .child-box:nth-child(3n+0)
        border-right 0





